<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CalculoDeFerias.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-30FVRF9\SQLGOMES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CalculoDeFerias.Properties.Settings.FeriasConnectionString"
            connectionString="Data Source=DESKTOP-30FVRF9\SQLGOMES;Initial Catalog=Ferias;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>